.linea_sep{
	margin-top: 10px;
}

.pie{
	border-top:2px rgb(66, 66, 66) solid;
	font-size: 12px;
	height: 50px;
	margin-top: 60px;
	padding-top: 10px;
}

.div_pi{
	float: left;
	text-align: left;
	width: 33%;
}

.div_pc{
	border-left: 1px rgb(66, 66, 66) solid;
	border-right: 1px rgb(66, 66, 66) solid;
	float: left;
	font-weight: bold;
	text-align: center;
	width: 33%;
}

.div_pd{
	float: left;
	text-align: right;;
	width: 33%;
}

.navbar-nav .nav-link {
    transition: background 0.2s, color 0.2s;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link.active {
    background: #0d6efd;
    color: #fff !important;
    text-decoration: none;
}


